.product-image-wrapper
  .single-products
    .productinfo.text-center
      = image_tag item.photo.url(:mini)
      %h2
        = render_price(item, :sell_price)
      %p
        = item.name
      = link_to(cart_init_add_path(item_id: item.id), remote: true, class: 'btn btn-default add-to-cart') do
        Do Koszyka
        %i.fa.fa-cart-plus
    .product-overlay
      .overlay-content
        %p
          ID:
          = item.number
        %p
          Pakowanie:
          = "#{item.big_wrap} / #{item.small_wrap}"
        %h2
          = render_price(item, :sell_price)
        %p
          = item.name
        = link_to(cart_init_add_path(item_id: item.id), remote: true, class: 'btn btn-default add-to-cart') do
          Do Koszyka
          %i.fa.fa-cart-plus
  .choose
    %ul.nav.nav-pills.nav-justified
      %li
        %a{:href => item.photo.url, class: 'fancy_photo'}
          %i.fa.fa-search-plus>
          Zdjęcie
      %li.circle{"data-value" => circleValue(item.big_wrap, item.sell_quantity)}
        Stan
