.category-title
  %h1
    = @category.name
  .category-description.std
    .slider-items-products
      #category-desc-slider.product-flexslider.hidden-buttons
        .slider-items.slider-width-col1
          / Item
          .item
            %a{}
              = image_tag("categories/#{@category.logo}", width: "85px", height: "250px")
  / End Item
  = render :partial => 'stored_items/items_grid'
.pager
  .pages
    = paginate @items