= form_for :session, url: login_path, :html => {class: 'form-horizontal form-groups-bordered'} do |f|
  .form-group
    = f.label :login, class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :login, class: 'form-control'
  .form-group
    = f.label :password, 'Hasło', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.password_field :password, class: 'form-control'
  .form-group
    .col-sm-offset-3.col-sm-5
      = f.submit 'Logowanie', class: 'btn btn-success'

