%h3 Aktualizacja produktów

.panel.panel-info{"data-collapsed" => "0"}
  / panel head
  .panel-heading
    .panel-title Instrukcja
    .panel-options
      %a.bg{"data-target" => "#sample-modal-dialog-1", "data-toggle" => "modal", :href => "#sample-modal"}
        %i.entypo-cog
      %a{"data-rel" => "collapse", :href => "#"}
        %i.entypo-down-open
      %a{"data-rel" => "reload", :href => "#"}
        %i.entypo-arrows-ccw
      %a{"data-rel" => "close", :href => "#"}
        %i.entypo-cancel
  / panel body
  .panel-body
    %p Wczytaj plik CSV , rozdzielony ";" w formacie (bez nagłówka w pierwszym wierszu):
    %p Opcjonalnie ostatnia kolumna moze byc numerem kategorii
    %table.table.table-condensed.table-bordered.table-hover.table-striped
      %thead
        %tr
          %th Numer
          %th Nazwa
          %th Cena
          %th Ilość
          %th Duże opakowanie
          %th Małe opakowanie
          %th Magazyn
          %th Kategoria(opcjonalna)
      %tbody
        %tr
          %td 1110000095
          %td Telefon
          %td 5.23
          %td 12
          %td 480
          %td 120
          %td 5016
          %td 12


= form_tag admin_items_actualize_path, class: 'form-horizontal form-groups-bordered',
 multipart: true do
  = hidden_field_tag :type, 'Items'
  .form-group
    = label_tag :file, 'Plik CSV', class: 'col-sm-3 control-label'
    .col-sm-5
      = file_field_tag :file, class: 'form-control'
  .form-group
    .col-sm-offset-3.col-sm-5
      = submit_tag :Aktualizuj, class: 'btn btn-success'

.col-md-6
%h4 Ostatnie aktualizacje
%table#last-actualizations.table.table-condensed.table-bordered.table-hover.table-striped
  %thead
    %tr
      %th Data
      %th Status
  %tbody
    - @actualizations.each do |actualization|
      %tr
        %td=actualization.created_at.to_datetime.strftime('%Y-%m-%d %H:%M:%S')
        %td=actualization.status

