%header.header
  .container
    .row
      .col-lg-5.col-sm-4.col-md-5
        / Header Logo
        = link_to root_path do
          = image_tag('logos/madej.png', width: "85px")
      / End Header Logo
      .col-lg-7.col-sm-8.col-md-7.col-xs-12
        .header-top
          .welcome-msg.hidden-xs
            = welcome_message
          / Header Language
          .dropdown.block-language-wrapper
            %a.block-language.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = image_tag('amaze/polish.png')
              Polski
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li{:role => "presentation"}
                %a{:href => "#", :role => "menuitem", :tabindex => "-1"}
                  = image_tag('amaze/polish.png')
                  Polski
          / End Header Language
          / Header Top Links
          .toplinks
            .links
              .myaccount
                %a{:href => "#", :title => "My Account"}
                  %span.hidden-xs Moje konto
              .wishlist
                %a{:href => "#", :title => "My Wishlist"}
                  %span.hidden-xs Ulubione
              .login
                - if logged_in?
                  = link_to(logout_path) do
                    %span.hidden-xs Wyloguj
                - else
                  = link_to(login_path) do
                    %span.hidden-xs Logowanie
        / End Header Top Links
        .cart_cur_block
          / Header Currency
          / Top Cart
          .top-cart-contain
            .mini-cart
              .basket.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown"}
                %a{:href => "#"}
                  %span.hidden-xs
                    = "Koszyk (#{cart_size})"
              %div
                .top-cart-content.arrow_box{:style => "display: none;"}
                  .block-subtitle Ostatnio dodane towary
                  %ul#cart-sidebar.mini-products-list
                    - unless current_cart.nil?
                      - current_cart.last_added(5).each do |cart_item|
                        - item = cart_item.stored_item.item
                        %li.item{class: cycle('even', 'odd')}
                          %a.product-image
                            = image_tag(item.photo.url(:mini), width: 55)
                          .product-details
                            -#%a.btn-remove1{:href => "#", :onClick => "", :title => "Usuń"} Usuń This Item
                            -#%a.btn-edit{:href => "#", :title => "Edycja"} Edycja
                            %p.product-name
                              %a
                                = item.name
                            %strong
                              = cart_item.quantity
                            x
                            %span.price
                              = cart_item.stored_item.sell_price

                  .top-subtotal
                    Razem:
                    %span.price
                      = cart_value
                  .actions
                    = link_to new_order_path do
                      %button.view-cart{:type => "button"}
                        %span 
                          Zobacz całość
                        