%nav
  .container
    .nav-inner
      / mobile-menu
      #mobile-menu.hidden-desktop
        %ul.navmenu
          %li
            .menutop
              .toggle
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %h2 Menu
            %ul.submenu{:style => "display:none;"}
              %li
                %ul.topnav
                  %li.level0.nav-6.level-top.first.parent
                    %a.level-top{:href => "index.html"}
                      %span Home
                    %ul.level0
                      %li.level1
                        %a{:href => "../../layout-1/red/index.html"}
                          %span Home Version 1
                      %li.level1
                        %a{:href => "../../layout-2/red/index.html"}
                          %span Home Version 2
                      %li.level1
                        %a{:href => "../../layout-1/aqua/index.html"}
                          %span Aqua
                      %li.level1
                        %a{:href => "../../layout-1/orange/index.html"}
                          %span Orange
                      %li.level1
                        %a{:href => "../../layout-1/red/index.html"}
                          %span Red
                      %li.level1
                        %a{:href => "../../layout-1/yellow/index.html"}
                          %span Yellow
                  %li.level0.nav-1.level-top.first.parent
                    %a.level-top{:href => "grid.html"}
                      %span Women
                    %ul.level0
                      %li.level1.nav-1-1.first.parent
                        %a{:href => "grid.html"}
                          %span Stylish Bag
                        %ul.level1
                          %li.level2.nav-1-1-1.first
                            %a{:href => "grid.html"}
                              %span Clutch Handbags
                          %li.level2.nav-1-1-2
                            %a{:href => "grid.html"}
                              %span Diaper Bags
                          %li.level2.nav-1-1-3
                            %a{:href => "grid.html"}
                              %span Bags
                          %li.level2.nav-1-1-4.last
                            %a{:href => "grid.html"}
                              %span Hobo Handbags
                      %li.level1.nav-1-2.parent
                        %a{:href => "grid.html"}
                          %span Material Bag
                        %ul.level1
                          %li.level2.nav-1-2-5.first
                            %a{:href => "grid.html"}
                              %span Beaded Handbags
                          %li.level2.nav-1-2-6
                            %a{:href => "grid.html"}
                              %span Fabric Handbags
                          %li.level2.nav-1-2-7
                            %a{:href => "grid.html"}
                              %span Handbags
                          %li.level2.nav-1-2-8.last
                            %a{:href => "grid.html"}
                              %span Leather Handbags
                      %li.level1.nav-1-3.parent
                        %a{:href => "grid.html"}
                          %span Shoes
                        %ul.level1
                          %li.level2.nav-1-3-9.first
                            %a{:href => "grid.html"}
                              %span Flat Shoes
                          %li.level2.nav-1-3-10
                            %a{:href => "grid.html"}
                              %span Flat Sandals
                          %li.level2.nav-1-3-11
                            %a{:href => "grid.html"}
                              %span Boots
                          %li.level2.nav-1-3-12.last
                            %a{:href => "grid.html"}
                              %span Heels
                      %li.level1.nav-1-4.parent
                        %a{:href => "grid.html"}
                          %span Jwellery
                        %ul.level1
                          %li.level2.nav-1-4-13.first
                            %a{:href => "grid.html"}
                              %span Bracelets
                          %li.level2.nav-1-4-14
                            %a{:href => "grid.html"}
                              %span Necklaces &amp; Pendants
                          %li.level2.nav-1-4-15
                            %a{:href => "grid.html"}
                              %span Pendants
                          %li.level2.nav-1-4-16.last
                            %a{:href => "grid.html"}
                              %span Pins &amp; Brooches
                      %li.level1.nav-1-5.parent
                        %a{:href => "grid.html"}
                          %span Dresses
                        %ul.level1
                          %li.level2.nav-1-5-17.first
                            %a{:href => "grid.html"}
                              %span Casual Dresses
                          %li.level2.nav-1-5-18
                            %a{:href => "grid.html"}
                              %span Evening
                          %li.level2.nav-1-5-19
                            %a{:href => "grid.html"}
                              %span Designer
                          %li.level2.nav-1-5-20.last
                            %a{:href => "grid.html"}
                              %span Party
                      %li.level1.nav-1-6.last.parent
                        %a{:href => "grid.html"}
                          %span Swimwear
                        %ul.level1
                          %li.level2.nav-1-6-21.first
                            %a{:href => "grid.html"}
                              %span Swimsuits
                          %li.level2.nav-1-6-22
                            %a{:href => "grid.html"}
                              %span Beach Clothing
                          %li.level2.nav-1-6-23
                            %a{:href => "grid.html"}
                              %span Clothing
                          %li.level2.nav-1-6-24.last
                            %a{:href => "grid.html"}
                              %span Bikinis
                  %li.level0.nav-2.level-top.parent
                    %a.level-top{:href => "grid.html"}
                      %span Men
                    %ul.level0
                      %li.level1.nav-2-1.first.parent
                        %a{:href => "grid.html"}
                          %span Shoes
                        %ul.level1
                          %li.level2.nav-2-1-1.first
                            %a{:href => "grid.html"}
                              %span Sport Shoes
                          %li.level2.nav-2-1-2
                            %a{:href => "grid.html"}
                              %span Casual Shoes
                          %li.level2.nav-2-1-3
                            %a{:href => "grid.html"}
                              %span Leather Shoes
                          %li.level2.nav-2-1-4.last
                            %a{:href => "grid.html"}
                              %span canvas shoes
                      %li.level1.nav-2-2.parent
                        %a{:href => "grid.html"}
                          %span Dresses
                        %ul.level1
                          %li.level2.nav-2-2-5.first
                            %a{:href => "grid.html"}
                              %span Casual Dresses
                          %li.level2.nav-2-2-6
                            %a{:href => "grid.html"}
                              %span Evening
                          %li.level2.nav-2-2-7
                            %a{:href => "grid.html"}
                              %span Designer
                          %li.level2.nav-2-2-8.last
                            %a{:href => "grid.html"}
                              %span Party
                      %li.level1.nav-2-3.parent
                        %a{:href => "grid.html"}
                          %span Jackets
                        %ul.level1
                          %li.level2.nav-2-3-9.first
                            %a{:href => "grid.html"}
                              %span Coats
                          %li.level2.nav-2-3-10
                            %a{:href => "grid.html"}
                              %span Formal Jackets
                          %li.level2.nav-2-3-11
                            %a{:href => "grid.html"}
                              %span Leather Jackets
                          %li.level2.nav-2-3-12.last
                            %a{:href => "grid.html"}
                              %span Blazers
                      %li.level1.nav-2-4.parent
                        %a{:href => "grid.html"}
                          %span Watches
                        %ul.level1
                          %li.level2.nav-2-4-13.first
                            %a{:href => "grid.html"}
                              %span Fastrack
                          %li.level2.nav-2-4-14
                            %a{:href => "grid.html"}
                              %span Casio
                          %li.level2.nav-2-4-15
                            %a{:href => "grid.html"}
                              %span Titan
                          %li.level2.nav-2-4-16.last
                            %a{:href => "grid.html"}
                              %span Tommy-Hilfiger
                      %li.level1.nav-2-5.parent
                        %a{:href => "grid.html"}
                          %span Sunglasses
                        %ul.level1
                          %li.level2.nav-2-5-17.first
                            %a{:href => "grid.html"}
                              %span Ray Ban
                          %li.level2.nav-2-5-18
                            %a{:href => "grid.html"}
                              %span Fastrack
                          %li.level2.nav-2-5-19
                            %a{:href => "grid.html"}
                              %span Police
                          %li.level2.nav-2-5-20.last
                            %a{:href => "grid.html"}
                              %span Oakley
                      %li.level1.nav-2-6.last.parent
                        %a{:href => "grid.html"}
                          %span Accessories
                        %ul.level1
                          %li.level2.nav-2-6-21.first
                            %a{:href => "grid.html"}
                              %span Backpacks
                          %li.level2.nav-2-6-22
                            %a{:href => "grid.html"}
                              %span Wallets
                          %li.level2.nav-2-6-23
                            %a{:href => "grid.html"}
                              %span Laptop Bags
                          %li.level2.nav-2-6-24.last
                            %a{:href => "grid.html"}
                              %span Belts
                  %li.level0.nav-3.level-top.parent
                    %a.level-top{:href => "grid.html"}
                      %span Electronics
                    %ul.level0
                      %li.level1.nav-3-1.first.parent
                        %a{:href => "grid.html"}
                          %span Mobiles
                        %ul.level1
                          %li.level2.nav-3-1-1.first
                            %a{:href => "grid.html"}
                              %span Samsung
                          %li.level2.nav-3-1-2
                            %a{:href => "grid.html"}
                              %span Nokia
                          %li.level2.nav-3-1-3
                            %a{:href => "grid.html"}
                              %span iPhone
                          %li.level2.nav-3-1-4.last
                            %a{:href => "grid.html"}
                              %span Sony
                      %li.level1.nav-3-2.parent
                        %a{:href => "grid.html"}
                          %span Accessories
                        %ul.level1
                          %li.level2.nav-3-2-5.first
                            %a{:href => "grid.html"}
                              %span Mobile Memory Cards
                          %li.level2.nav-3-2-6
                            %a{:href => "grid.html"}
                              %span Cases &amp; Covers
                          %li.level2.nav-3-2-7
                            %a{:href => "grid.html"}
                              %span Mobile Headphones
                          %li.level2.nav-3-2-8.last
                            %a{:href => "grid.html"}
                              %span Bluetooth Headsets
                      %li.level1.nav-3-3.parent
                        %a{:href => "grid.html"}
                          %span Cameras
                        %ul.level1
                          %li.level2.nav-3-3-9.first
                            %a{:href => "grid.html"}
                              %span Camcorders
                          %li.level2.nav-3-3-10
                            %a{:href => "grid.html"}
                              %span Point &amp; Shoot
                          %li.level2.nav-3-3-11
                            %a{:href => "grid.html"}
                              %span Digital SLR
                          %li.level2.nav-3-3-12.last
                            %a{:href => "grid.html"}
                              %span Camera Accessories
                      %li.level1.nav-3-4.parent
                        %a{:href => "grid.html"}
                          %span Audio &amp; Video
                        %ul.level1
                          %li.level2.nav-3-4-13.first
                            %a{:href => "grid.html"}
                              %span MP3 Players
                          %li.level2.nav-3-4-14
                            %a{:href => "grid.html"}
                              %span iPods
                          %li.level2.nav-3-4-15
                            %a{:href => "grid.html"}
                              %span Speakers
                          %li.level2.nav-3-4-16.last
                            %a{:href => "grid.html"}
                              %span Video Players
                      %li.level1.nav-3-5.parent
                        %a{:href => "grid.html"}
                          %span Computer
                        %ul.level1
                          %li.level2.nav-3-5-17.first
                            %a{:href => "grid.html"}
                              %span External Hard Disks
                          %li.level2.nav-3-5-18
                            %a{:href => "grid.html"}
                              %span Pendrives
                          %li.level2.nav-3-5-19
                            %a{:href => "grid.html"}
                              %span Headphones
                          %li.level2.nav-3-5-20.last
                            %a{:href => "grid.html"}
                              %span PC Components
                      %li.level1.nav-3-6.last.parent
                        %a{:href => "grid.html"}
                          %span Appliances
                        %ul.level1
                          %li.level2.nav-3-6-21.first
                            %a{:href => "grid.html"}
                              %span Vacuum Cleaners
                          %li.level2.nav-3-6-22
                            %a{:href => "grid.html"}
                              %span Indoor Lighting
                          %li.level2.nav-3-6-23
                            %a{:href => "grid.html"}
                              %span Kitchen Tools
                          %li.level2.nav-3-6-24.last
                            %a{:href => "grid.html"}
                              %span Water Purifiers
                  %li.level0.nav-4.level-top.parent
                    %a.level-top{:href => "grid.html"}
                      %span Furniture
                    %ul.level0
                      %li.level1.nav-4-1.first.parent
                        %a{:href => "grid.html"}
                          %span Living Room
                        %ul.level1
                          %li.level2.nav-4-1-1.first
                            %a{:href => "grid.html"}
                              %span Racks &amp; Cabinets
                          %li.level2.nav-4-1-2
                            %a{:href => "grid.html"}
                              %span Sofas
                          %li.level2.nav-4-1-3
                            %a{:href => "grid.html"}
                              %span Chairs
                          %li.level2.nav-4-1-4.last
                            %a{:href => "grid.html"}
                              %span Tables
                      %li.level1.nav-4-2.parent
                        %a{:href => "grid.html"}
                          %span Dining &amp; Bar
                        %ul.level1
                          %li.level2.nav-4-2-5.first
                            %a{:href => "grid.html"}
                              %span Dining Table Sets
                          %li.level2.nav-4-2-6
                            %a{:href => "grid.html"}
                              %span Serving Trolleys
                          %li.level2.nav-4-2-7
                            %a{:href => "grid.html"}
                              %span Bar Counters
                          %li.level2.nav-4-2-8.last
                            %a{:href => "grid.html"}
                              %span Dining Cabinets
                      %li.level1.nav-4-3.parent
                        %a{:href => "grid.html"}
                          %span Bedroom
                        %ul.level1
                          %li.level2.nav-4-3-9.first
                            %a{:href => "grid.html"}
                              %span Beds
                          %li.level2.nav-4-3-10
                            %a{:href => "grid.html"}
                              %span Chest of Drawers
                          %li.level2.nav-4-3-11
                            %a{:href => "grid.html"}
                              %span Wardrobes &amp; Almirahs
                          %li.level2.nav-4-3-12.last
                            %a{:href => "grid.html"}
                              %span Nightstands
                      %li.level1.nav-4-4.last.parent
                        %a{:href => "grid.html"}
                          %span Kitchen
                        %ul.level1
                          %li.level2.nav-4-4-13.first
                            %a{:href => "grid.html"}
                              %span Kitchen Racks
                          %li.level2.nav-4-4-14
                            %a{:href => "grid.html"}
                              %span Kitchen Fittings
                          %li.level2.nav-4-4-15
                            %a{:href => "grid.html"}
                              %span Wall Units
                          %li.level2.nav-4-4-16.last
                            %a{:href => "grid.html"}
                              %span Benches &amp; Stools
                  %li.level0.nav-5.level-top.last
                    %a.level-top{:href => "grid.html"}
                      %span Fashion
                  %li.level0.nav-6.level-top.first.parent
                    %a.level-top{:href => "#"}
                      %span Pages
                    %ul.level0
                      %li.level1.first
                        %a{:href => "grid.html"}
                          %span Grid
                      %li.level1.nav-10-2
                        %a{:href => "list.html"}
                          %span List
                      %li.level1.nav-10-3
                        %a{:href => "product_detail.html"}
                          %span Product Detail
                      %li.level1.nav-10-4
                        %a{:href => "shopping_cart.html"}
                          %span Shopping Cart
                      %li.level1.first
                        %a{:href => "checkout.html"}
                          %span Checkout
                        %ul.level2
                          %li.level2.nav-2-1-1.first
                            %a{:href => "checkout_method.html"}
                              %span Checkout Method
                          %li.level2.nav-2-1-5.last
                            %a{:href => "checkout_billing_info.html"}
                              %span Checkout Billing Info
                      %li.level1.nav-10-4
                        %a{:href => "wishlist.html"}
                          %span Wishlist
                      %li.level1
                        %a{:href => "dashboard.html"}
                          %span Dashboard
                      %li.level1
                        %a{:href => "multiple_addresses.html"}
                          %span Multiple Addresses
                      %li.level1
                        %a{:href => "about_us.html"}
                          %span About Us
                      %li.level1
                        %a{:href => "compare.html"}
                          %span Compare
                      %li.level1
                        %a{:href => "delivery.html"}
                          %span Delivery
                      %li.level1
                        %a{:href => "faq.html"}
                          %span FAQ
                      %li.level1
                        %a{:href => "quick_view.html"}
                          %span Quick View
                      %li.level1
                        %a{:href => "newsletter.html"}
                          %span Newsletter
                      %li.level1
                        %a{:href => "contact_us.html"}
                          %span Contact Us
                      %li.level1.first
                        %a{:href => "blog.html"}
                          %span Blog
                        %ul.level2
                          %li.level2.nav-2-1-1.first
                            %a{:href => "blog_detail.html"}
                              %span Blog Detail
                      %li.level1
                        %a{:href => "404error.html"}
                          %span 404 Error Page
      / navmenu
      / End mobile-menu
      %ul#nav.hidden-xs
        %li#nav-home.level0.parent.drop-menu.active
          %a{:href => "index.html"}
            %span Home
          %ul.level1{:style => "display: none;"}
            %li.level1.first.parent
              %a{:href => "../../layout-1/yellow/index.html"}
                %span Home Version 1
            %li.level1.parent
              %a{:href => "../../layout-2/yellow/index.html"}
                %span Home Version 2
            %li.level1.parent
              %a{:href => "../../layout-1/aqua/index.html"}
                %span Aqua
            %li.level1.parent
              %a{:href => "../../layout-1/green/index.html"}
                %span Green
            %li.level1.parent
              %a{:href => "../../layout-1/orange/index.html"}
                %span Orange
            %li.level1.parent
              %a{:href => "../../layout-1/red/index.html"}
                %span Red
        %li.level0.parent.drop-menu
          %a{:href => "#"}
            %span Pages
          %ul.level1{:style => "display: none;"}
            %li.level1.first
              %a{:href => "grid.html"}
                %span Grid
            %li.level1.nav-10-2
              %a{:href => "list.html"}
                %span List
            %li.level1.nav-10-3
              %a{:href => "product_detail.html"}
                %span Product Detail
            %li.level1.nav-10-4
              %a{:href => "shopping_cart.html"}
                %span Shopping Cart
            %li.level1.first.parent
              %a{:href => "checkout.html"}
                %span Checkout
              %ul.level2
                %li.level2.nav-2-1-1.first
                  %a{:href => "checkout_method.html"}
                    %span Checkout Method
                %li.level2.nav-2-1-5.last
                  %a{:href => "checkout_billing_info.html"}
                    %span Checkout Billing Info
            %li.level1.nav-10-4
              %a{:href => "wishlist.html"}
                %span Wishlist
            %li.level1
              %a{:href => "dashboard.html"}
                %span Dashboard
            %li.level1
              %a{:href => "multiple_addresses.html"}
                %span Multiple Addresses
            %li.level1
              %a{:href => "about_us.html"}
                %span About Us
            %li.level1
              %a{:href => "compare.html"}
                %span Compare
            %li.level1
              %a{:href => "delivery.html"}
                %span Delivery
            %li.level1
              %a{:href => "faq.html"}
                %span FAQ
            %li.level1
              %a{:href => "quick_view.html"}
                %span Quick View
            %li.level1
              %a{:href => "newsletter.html"}
                %span Newsletter
            %li.level1
              %a{:href => "contact_us.html"}
                %span Contact Us
            %li.level1
              %a{:href => "sitemap.html"}
                %span Sitemap
            %li.level1.first.parent
              %a{:href => "blog.html"}
                %span Blog
              %ul.level2
                %li.level2.nav-2-1-1.first
                  %a{:href => "blog_detail.html"}
                    %span Blog Detail
            %li.level1
              %a{:href => "404error.html"}
                %span 404 Error Page
        %li.level0.nav-5.level-top.first
          %a.level-top{:href => "grid.html"}
            %span Women
            %span.category-label-hot Hot
          .level0-wrapper.dropdown-6col{:style => "display: none; left: 0px;"}
            .level0-wrapper2
              .nav-block.nav-block-center
                %ul.level0
                  %li.level1.nav-6-1.first.parent.item
                    %a{:href => "grid.html"}
                      %span Styliest Bag
                    %ul.level1
                      %li.level2.nav-6-1-1.first
                        %a{:href => "grid.html"}
                          %span Clutch Handbags
                      %li.level2.nav-6-1-2
                        %a{:href => "grid.html"}
                          %span Diaper Bags
                      %li.level2.nav-6-1-2
                        %a{:href => "grid.html"}
                          %span Bags
                      %li.level2.nav-6-1-3.last
                        %a{:href => "grid.html"}
                          %span Hobo Handbags
                  %li.level1.nav-6-2.parent.item
                    %a{:href => "grid.html"}
                      %span Material Bag
                    %ul.level1
                      %li.level2.nav-6-2-4.first
                        %a{:href => "grid.html"}
                          %span Beaded Handbags
                      %li.level2.nav-6-2-5
                        %a{:href => "grid.html"}
                          %span Fabric Handbags
                      %li.level2.nav-6-2-5
                        %a{:href => "grid.html"}
                          %span Handbags
                      %li.level2.nav-6-2-6.last
                        %a{:href => "grid.html"}
                          %span Leather Handbags
                  %li.level1.nav-6-3.parent.item
                    %a{:href => "grid.html"}
                      %span Designer Bag
                    %ul.level1
                      %li.level2.nav-6-3-9.first
                        %a{:href => "grid.html"}
                          %span Flat Shoes
                      %li.level2.nav-6-3-10
                        %a{:href => "grid.html"}
                          %span Flat Sandals
                      %li.level2.nav-6-3-11
                        %a{:href => "grid.html"}
                          %span Boots
                      %li.level2.nav-6-3-12.last
                        %a{:href => "grid.html"}
                          %span Heels
                  %li.level1.nav-6-4.parent.item
                    %a{:href => "grid.html"}
                      %span Cotton Bag
                    %ul.level1
                      %li.level2.nav-6-4-13.first
                        %a{:href => "grid.html"}
                          %span Bracelets
                      %li.level2.nav-6-4-14
                        %a{:href => "grid.html"}
                          %span Necklaces &amp; Pendants
                      %li.level2.nav-6-4-14
                        %a{:href => "grid.html"}
                          %span Pendants
                      %li.level2.nav-6-4-15.last
                        %a{:href => "grid.html"}
                          %span Pins &amp; Brooches
                  %li.level1.nav-6-5.last.parent.item
                    %a{:href => "grid.html"}
                      %span Swimwear
                    %ul.level1
                      %li.level2.nav-6-8-28.first
                        %a{:href => "grid.html"}
                          %span Swimsuits
                      %li.level2.nav-6-8-29
                        %a{:href => "grid.html"}
                          %span Beach Clothing
                      %li.level2.nav-6-8-29
                        %a{:href => "grid.html"}
                          %span Clothing
                      %li.level2.nav-6-8-30.last
                        %a{:href => "grid.html"}
                          %span Bikinis
            .nav-add
              .push_item
                .push_img
                  %a{:href => "#"}
                    = image_tag('amaze/women_jwellery.png')
                    .push_text Lorem Ipsum is simply dummy text of the printing
              .push_item
                .push_img
                  %a{:href => "#"}
                    = image_tag('amaze/women_jwellery.png')
                    .push_text Lorem Ipsum is simply dummy text of the printing
              .push_item
                .push_img
                  %a{:href => "#"}
                    = image_tag('amaze/women_jwellery.png')
                    .push_text Lorem Ipsum is simply dummy text of the printing
              .push_item.push_item_last
                .push_img
                  %a{:href => "#"}
                    = image_tag('amaze/women_jwellery.png')
                    .push_text Lorem Ipsum is simply dummy text of the printing
              %br.clear
        %li.level0.nav-7.level-top.parent
          %a.level-top{:href => "grid.html"}
            %span Men
          .level0-wrapper.dropdown-6col{:style => "display: none; left: 0px;"}
            .level0-wrapper2
              .nav-block.nav-block-center
                %ul.level0
                  %li.level1.nav-7-1.first.parent.item
                    %a{:href => "grid.html"}
                      %span Gents Purses
                    %ul.level1
                      %li.level2.nav-7-3-15.first
                        %a{:href => "grid.html"}
                          %span Digital Cameras
                      %li.level2.nav-7-3-16
                        %a{:href => "grid.html"}
                          %span Camcorders
                      %li.level2.nav-7-3-17
                        %a{:href => "grid.html"}
                          %span Lenses
                      %li.level2.nav-7-3-18
                        %a{:href => "grid.html"}
                          %span Filters
                      %li.level2.nav-7-3-19.last
                        %a{:href => "grid.html"}
                          %span Tripods
                  %li.level1.nav-7-3.parent.item
                    %a{:href => "grid.html"}
                      %span Gents Purses
                    %ul.level1
                      %li.level2.nav-7-3-15.first
                        %a{:href => "grid.html"}
                          %span Digital Cameras
                      %li.level2.nav-7-3-16
                        %a{:href => "grid.html"}
                          %span Camcorders
                      %li.level2.nav-7-3-17
                        %a{:href => "grid.html"}
                          %span Lenses
                      %li.level2.nav-7-3-18
                        %a{:href => "grid.html"}
                          %span Filters
                      %li.level2.nav-7-3-19.last
                        %a{:href => "grid.html"}
                          %span Tripods
                  %li.level1.nav-7-3.parent.item
                    %a{:href => "grid.html"}
                      %span Gents Purses
                    %ul.level1
                      %li.level2.nav-7-3-15.first
                        %a{:href => "grid.html"}
                          %span Digital Cameras
                      %li.level2.nav-7-3-16
                        %a{:href => "grid.html"}
                          %span Camcorders
                      %li.level2.nav-7-3-17
                        %a{:href => "grid.html"}
                          %span Lenses
                      %li.level2.nav-7-3-18
                        %a{:href => "grid.html"}
                          %span Filters
                      %li.level2.nav-7-3-19.last
                        %a{:href => "grid.html"}
                          %span Tripods
                  %li.level1.nav-7-4.parent.item
                    %a{:href => "grid.html"}
                      %span Gifts
                    %ul.level1
                      %li.level2.nav-7-2-8.first
                        %a{:href => "grid.html"}
                          %span Headsets
                      %li.level2.nav-7-2-9
                        %a{:href => "grid.html"}
                          %span Batteries
                      %li.level2.nav-7-2-10
                        %a{:href => "grid.html"}
                          %span Screen Protectors
                      %li.level2.nav-7-2-11
                        %a{:href => "grid.html"}
                          %span Memory Cards
                      %li.level2.nav-7-2-14.last
                        %a{:href => "grid.html"}
                          %span Cases
                  %li.level1.nav-7-4.last.parent.item
                    %a{:href => "grid.html"}
                      %span Accessories
                    %ul.level1
                      %li.level2.nav-7-2-8.first
                        %a{:href => "grid.html"}
                          %span Headsets
                      %li.level2.nav-7-2-9
                        %a{:href => "grid.html"}
                          %span Batteries
                      %li.level2.nav-7-2-10
                        %a{:href => "grid.html"}
                          %span Screen Protectors
                      %li.level2.nav-7-2-11
                        %a{:href => "grid.html"}
                          %span Memory Cards
                      %li.level2.nav-7-2-14.last
                        %a{:href => "grid.html"}
                          %span Cases
        %li.level0.nav-6.level-top.parent
          %a.level-top{:href => "grid.html"}
            %span Electronics
            %span.category-label New
          .level0-wrapper.dropdown-6col{:style => "display: none; left: 0px;"}
            .level0-wrapper2
              .nav-block.nav-block-center.grid13-8.itemgrid.itemgrid-4col
                %ul.level0
                  %li.level1.nav-6-3.parent.item
                    %a{:href => "grid.html"}
                      %span Shoes
                    %ul.level1
                      %li.level2.nav-6-3-9.first
                        %a{:href => "grid.html"}
                          %span Flat Shoes
                      %li.level2.nav-6-3-10
                        %a{:href => "grid.html"}
                          %span Flat Sandals
                      %li.level2.nav-6-3-11
                        %a{:href => "grid.html"}
                          %span Boots
                      %li.level2.nav-6-3-11
                        %a{:href => "grid.html"}
                          %span Boots
                      %li.level2.nav-6-3-12.last
                        %a{:href => "grid.html"}
                          %span Heels
                  %li.level1.nav-6-4.parent.item
                    %a{:href => "grid.html"}
                      %span Jewelry
                    %ul.level1
                      %li.level2.nav-6-4-13.first
                        %a{:href => "grid.html"}
                          %span Bracelets
                      %li.level2.nav-6-4-14
                        %a{:href => "grid.html"}
                          %span Necklaces &amp; Pendants
                      %li.level2.nav-6-4-14
                        %a{:href => "grid.html"}
                          %span Necklaces
                      %li.level2.nav-6-4-14
                        %a{:href => "grid.html"}
                          %span Pendants
                      %li.level2.nav-6-4-15.last
                        %a{:href => "grid.html"}
                          %span Pins &amp; Brooches
                  %li.level1.nav-6-5.parent.item
                    %a{:href => "grid.html"}
                      %span Dresses
                    %ul.level1
                      %li.level2.nav-6-5-16.first
                        %a{:href => "grid.html"}
                          %span Casual Dresses
                      %li.level2.nav-6-5-17
                        %a{:href => "grid.html"}
                          %span Evening
                      %li.level2.nav-6-5-18
                        %a{:href => "grid.html"}
                          %span Designer
                      %li.level2.nav-6-5-18
                        %a{:href => "grid.html"}
                          %span Designer
                      %li.level2.nav-6-5-19.last
                        %a{:href => "grid.html"}
                          %span Party
                  %li.level1.nav-6-6.last.parent.item
                    %a{:href => "grid.html"}
                      %span Jackets
                    %ul.level1
                      %li.level2.nav-6-7-24.first
                        %a{:href => "grid.html"}
                          %span Coats
                      %li.level2.nav-6-7-25
                        %a{:href => "grid.html"}
                          %span Jackets
                      %li.level2.nav-6-7-26
                        %a{:href => "grid.html"}
                          %span Leather Jackets
                      %li.level2.nav-6-7-26
                        %a{:href => "grid.html"}
                          %span Leather Jackets
                      %li.level2.nav-6-7-27.last
                        %a{:href => "grid.html"}
                          %span Blazers
              .nav-block.nav-block-right.std.grid12-3
                %a.product-image{:href => "#", :title => "Stablished fact reader"}
                  = image_tag('amaze/product1.jpg', width: 155)
                  .push_text Lorem Ipsum is simply dummy text of the printing
                .item-title
                  %a{:href => "#", :title => "Ut tincidunt tortor"} Sample Product
                .price-box
                  %span.regular-price
                    %span.price $125.00
        %li.level0.nav-7.level-top.parent
          %a.level-top{:href => "grid.html"}
            %span Furniture
          .level0-wrapper.dropdown-6col{:style => "left: 0pt; display: none;"}
            .level0-wrapper2
              .nav-block.nav-block-center.grid12-8.itemgrid.itemgrid-4col
                %ul.level0
                  %li.level1.nav-7-1.first.parent.item
                    %a{:href => "grid.html"}
                      %span Smartphones
                    %ul.level1
                      %li.level2.nav-7-1-1.first
                        %a{:href => "grid.html"}
                          %span Samsung
                      %li.level2.nav-7-1-2
                        %a{:href => "grid.html"}
                          %span Apple
                      %li.level2.nav-7-1-4
                        %a{:href => "grid.html"}
                          %span BlackBerry
                      %li.level2.nav-7-1-6
                        %a{:href => "grid.html"}
                          %span Nokia
                      %li.level2.nav-7-1-7.last
                        %a{:href => "grid.html"}
                          %span HTC
                  %li.level1.nav-7-3.parent.item
                    %a{:href => "grid.html"}
                      %span Cameras
                    %ul.level1
                      %li.level2.nav-7-3-15.first
                        %a{:href => "grid.html"}
                          %span Digital Cameras
                      %li.level2.nav-7-3-16
                        %a{:href => "grid.html"}
                          %span Camcorders
                      %li.level2.nav-7-3-17
                        %a{:href => "grid.html"}
                          %span Lenses
                      %li.level2.nav-7-3-18
                        %a{:href => "grid.html"}
                          %span Filters
                      %li.level2.nav-7-3-19.last
                        %a{:href => "grid.html"}
                          %span Tripods
                  %li.level1.nav-7-4.last.parent.item
                    %a{:href => "grid.html"}
                      %span Accessories
                    %ul.level1
                      %li.level2.nav-7-2-8.first
                        %a{:href => "grid.html"}
                          %span Headsets
                      %li.level2.nav-7-2-9
                        %a{:href => "grid.html"}
                          %span Batteries
                      %li.level2.nav-7-2-10
                        %a{:href => "grid.html"}
                          %span Screen Protectors
                      %li.level2.nav-7-2-11
                        %a{:href => "grid.html"}
                          %span Memory Cards
                      %li.level2.nav-7-2-14.last
                        %a{:href => "grid.html"}
                          %span Cases
              .nav-block.nav-block-right.std.grid12-4
                %a{:href => "grid.html"}
                  = image_tag('amaze/menu_furniture.png')
        %li.level0.nav-8.level-top
          %a.level-top{:href => "grid.html"}
            %span Boys
        %li.level0.nav-8.level-top
          %a.level-top{:href => "grid.html"}
            %span Girls
        %li.nav-custom-link.level0.level-top.parent
          %a.level-top{:href => "#"}
            %span Custom
          .level0-wrapper{:style => "display: none; left: 0px;"}
            .header-nav-dropdown-wrapper.clearer
              .grid12-5
                %h4.heading HTML5 + CSS3
                .ccs3-html5-box
                  %em.icon-html5 &nbsp;
                  %em.icon-css3 &nbsp;
                %p Our designed to deliver almost everything you want to do online without requiring additional plugins.CSS3 has been split into "modules".
              .grid12-5
                %h4.heading Responsive Design
                %a{:href => "#//"}
                  .icon-custom-reponsive
                %p Responsive design is a Web design to provide an optimal navigation with a minimum of resizing, and scrolling across a wide range of devices.
              .grid12-5
                %h4.heading Google Fonts
                %a{:href => "#//"}
                  .icon-custom-google-font
                %p Our font delivery service is built upon a reliable, global network of servers. Our flexible solution provides multiple implementation options.
              .grid12-5
                %h4.heading Smart Product Grid
                %a{:href => "#//"}
                  .icon-custom-grid
                %p Smart Product Grid is uses maximum available width of the screen to display content. It can be displayed on any screen or any devices.
              %br
      #form-search.search-bar
        %form#search_mini_form{:action => "#", :method => "get"}
          %input#search.search-bar-input{:name => "search", :placeholder => "Search entire store here...", :type => "text", :value => ""}
            %input.search-bar-submit{:type => "submit", :value => ""}
              %span.search-icon
                = image_tag('amaze/search-icon.png')