#orders
  .table-responsive.cart_info
    %table.table.table-condensed
      %thead
        %tr.order_menu
          %td Numer
          %td Data
          %td Ilość Pozycji
          %td Wartość
          %td
          %td
      %tbody
        - @orders.each do |order|
          %tr.order_body
            %td
              = order.id
            %td
              = render_date(order.created_at)
            %td
              = order.order_items.size
            %td
              = "#{order.price} zł."
            %td
              %a{:href=> order_order_items_path(order_id: order) }
                %i.fa.fa-search
                Podgląd
= paginate @orders