.cart
  .page-title
    %h2 Zawartość Koszyka
  .table-responive
    = form_for(@order) do |f|
      %table.data-table.cart-table
        %thead
          %tr.first.last
            %th.image Produkt
            %th.description
            %th.description Pakowanie
            %th.price Cena
            %th.quantity Ilość
            %th.total Suma
            %th
        %tbody
          = f.fields_for :order_items do |order_item|
            - item = order_item.object.stored_item
            - cart_item_id = order_item.object.cart_item_id
            %tr{id: "row-cart-id-#{cart_item_id}"}
              %td.cart_product
                %a{:href => item.photo.url, class: 'fancy_photo'}
                  = image_tag(item.photo.url(:mini), height:66, width:100)
                  %i.fa.fa-search-plus
              %td.cart_description
                %h2.product-name
                  %a{}
                    = item.name
                %p
                  = item.number
                %span{class: 'errors',id:"cart-item-error-#{cart_item_id}"}
                  = order_item.object.errors.full_messages.first if order_item.object.errors.any?
              %td.cart_description
                %p
                  = "#{item.big_wrap} / #{item.small_wrap}"
              %td
                = order_item.hidden_field :price
                %span.cart-price
                  %span.price
                    %p= render_price(item, :sell_price)
              %td.cart_quantity
                = order_item.hidden_field :stored_item_id
                = order_item.hidden_field :cart_item_id
                = order_item.text_field(:quantity, class: 'cart_quantity_input', size: 2,
                 cart_item_id: cart_item_id )
              %td.cart_total
                %p.cart_total_price
                  %span.cart-price
                    %span{class: 'price', id: "total_price_#{cart_item_id}"}= "#{order_item.object.total_price} zł"
              %td.cart_delete
                = link_to(cart_item_path(cart_item_id), class: 'cart_quantity_delete', method: :delete,
                :data => {:confirm => 'Czy napewno usunąć z koszyka?'}, remote: true) do
                  %i.fa.fa-times{style: 'color:red;'}
  .cart-collaterals.row
    .totals.col-sm-4
      %h3 Podsumowanie KOszyka
      .inner
        %table#shopping-cart-totals-table.table.shopping-cart-table-total
          %tfoot
            %tr
              %td.a-left{:colspan => "1", :style => ""}
                %strong Suma
              %td.a-right{:style => ""}
                %strong
                  %span.price 
                    = "#{@cart.price_sum} zł"
          %tbody
            %tr
        %ul.checkout
          %li
            = button_tag(type: 'submit', class: 'button button btn-proceed-checkout', onClick: "document.getElementById('new_order').submit();") do
              %span Wyślij zamówienie
              
