#cart_items
  %p
    W koszyku:
    %span#cart-length.cart-info-hightlight
      = cart_size
    produktów
    %br
    Suma :
    %span#cart-sum.cart-info-hightlight
      = cart_value
    zł.
  = form_for(@order) do |f|
    .table-responsive.cart_info
      %table.table.table-condensed
        %thead
          %tr.cart_menu
            %td.image Produkt
            %td.description
            %td.description Pakowanie
            %td.price Cena
            %td.quantity Ilość
            %td.total Suma
            %td
        %tbody
          = f.fields_for :order_items do |order_item|
            - item = order_item.object.item
            - cart_item_id = order_item.object.cart_item_id
            %tr{id: "row-cart-id-#{cart_item_id}"}
              %td.cart_product
                %a{:href => item.photo.url, class: 'fancy_photo'}
                  = image_tag(item.photo.url(:mini), height:66, width:100)
                  %i.fa.fa-search-plus
              %td.cart_description
                %h4
                  %a{:href => ""}
                    = item.name
                %p
                  = item.number
                %span{class: 'errors',id:"cart-item-error-#{cart_item_id}"}
                  = order_item.object.errors.full_messages.first if order_item.object.errors.any?
              %td.cart_description
                %p
                  = "#{item.big_wrap} / #{item.small_wrap}"
              %td.cart_price
                = order_item.hidden_field :price
                %p= render_price(item)
              %td.cart_quantity
                = order_item.hidden_field :item_id
                = order_item.hidden_field :cart_item_id
                = order_item.text_field(:quantity, class: 'cart_quantity_input', size: 2,
                 cart_item_id: cart_item_id )
              %td.cart_total
                %p.cart_total_price
                  %span{id: "total_price_#{cart_item_id}"}= "#{order_item.object.total_price} zł"
              %td.cart_delete
                = link_to(cart_item_path(cart_item_id), class: 'cart_quantity_delete', method: :delete,
                :data => {:confirm => 'Czy napewno usunąć z koszyka?'}, remote: true) do
                  %i.fa.fa-times
    .row
      = f.submit 'Zamów', class: 'btn btn-primary pull-right'
