.item-inner
  .product-block
    .product-image
      %a{:href => "product_detail.html"}
        %figure.product-display
          .sale-label.sale-top-left Sale
          -#.new-label.new-top-left New
          = image_tag item.photo.url(:mini) ,class:"lazyOwl product-mainpic", style:"display: block;"
          = image_tag item.photo.url(:mini) ,class:"product-secondpic"
    .product-meta
      .product-action
        %a.addcart{:href => "shopping_cart.html"}
          %i.fa.fa-shopping-cart &nbsp;
          Koszyk
        -#%a.wishlist{:href => "wishlist.html"}
        -#  %i.icon-heart &nbsp;
        %a.quickview{:href => item.photo.url, class: 'fancy_photo'}
          %i.fa.fa-search &nbsp;
  .item-info
    .info-inner
      .item-title
        %span.item_name
          = item.name
      .item-content
        .item-price
          .price-box
            %span.regular-price
              %span.price
                = render_price(item, :sell_price)
              %span.packing
                &nbsp;
                ="(#{item.big_wrap} / #{item.small_wrap})"
        .rating
          .ratings
            .rating-box
              .rating{:style => "width:80%"}
            %p.rating-links
              %a{:href => "#"} 1 Review(s)
              %span.separator |
              %a{:href => "#"} Add Review