.item-inner
  .product-block
    .product-image
      %a
        %figure.product-display
          .sale-label.sale-top-left Sale
          -#.new-label.new-top-left New
          = image_tag item.photo.url(:mini) ,class:"lazyOwl product-mainpic", style:"display: block;"
          = image_tag item.photo.url(:mini) ,class:"product-secondpic"
    .product-meta
      .product-action
        = link_to(cart_init_add_path(item_id: item.id), remote: true, class: 'addcart') do
          %i.fa.fa-shopping-cart &nbsp;
          Koszyk
        -#%a.wishlist{:href => "wishlist.html"}
        -#  %i.icon-heart &nbsp;
        %a.quickview{:href => item.photo.url, class: 'fancy_photo'}
          %i.fa.fa-search &nbsp;
  .item-info
    .info-inner
      .item-title
        %span.item_name
          = item.name
      .item-content
        .item-price
          .price-box
            %span.regular-price
              %span.price
                = render_price(item, :sell_price)
              %span.packing
                &nbsp;
                ="(#{item.big_wrap} / #{item.small_wrap})"
        = stockValue(item.big_wrap, item.sell_quantity)