.slider-section
  .container
    .row
      %aside.cat-block.pro-block.col-xs-12.col-sm-12.col-md-5
        .pro1-block
          %ul.top-cat-box
            %li
              %div
                = image_tag('logos/wood_and_fun.jpg', width:200, height: 200)
            %li
              %div
                = image_tag('logos/baby_love.jpg', width:200, height:200)
            %li
              %div
                = image_tag('logos/jet5.jpg', width:200, height:200)
            %li
              %div
                = image_tag('logos/baby_trike.png', width:200, height:200)
      / //showcase-right
      .slider-intro.col-lg-7.col-sm-12.col-md-7
        .the-slideshow.slideshow-wrapper
          %ul.slideshow{:style => "overflow: hidden;"}
            %li.slide
              .slide-desc
                .content
                  %p.head
                    Piłki Nożne
                  %p.description
                    Już jest nowa dostawa piłek nożnych.Zapraszamy do składania zamówień.Już jest nowa dostawa piłek nożnych.Zapraszamy do składania zamówień.
                    %span.more
                      %a{href: '#'}
                        Zobacz
              %p
                %a{:href => "#"}
                  = image_tag('slider_images/soccer.jpg',width:670, height:480)
            %li.slide
              .slide-desc
                .content
                  %p.head
                    Zestawy do gry w badmintona.
                  %p.description
                    Już jest nowa dostawa zestawów do badmintona.Zapraszamy do składania zamówień.
                    %span.more
                      %a{href: '#'}
                        Zobacz
              %p
                %a{:href => "#"}
                  = image_tag('slider_images/badminton.jpg',width:670, height:480)
            %li.slide
              .slide-desc
                .content
                  %p.head
                    Rowerki Baby Trike
                  %p.description
                    Już jest nowa dostawa rowerków Baby Trike.Zapraszamy do składania zamówień.
                    %span.more
                      %a{href: '#'}
                        Zobacz
              %p
                %a{:href => "#", :title => "#"}
                  = image_tag('slider_images/babytrike.jpg',width:670, height:480)

          %a#home-slides-prev.backward.browse-button{:href => "#"} previous
          %a#home-slides-next.forward.browse-button{:href => "#"} next
          #home-slides-pager.tab-pager.tab-pager-img.tab-pager-ring-lgray