!!!
%html{:lang => "en"}
  = render :partial => 'layouts/frontend/amaze/head'
  %body
    .page
      / Header
      = render :partial => 'layouts/frontend/amaze/header'
      / End Top Cart
      / end header
      / Navbar
      = render :partial => 'layouts/frontend/amaze/navbar'
      = yield
      / Footer
      = render :partial => 'layouts/frontend/amaze/footer'
    / End Footer
    / JavaScript
    = render :partial => 'layouts/frontend/amaze/bottom_scripts'