.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"}
          ×
      %h4.modal-title.title-orange
        Dodaj do koszyka
    .modal-body
      = form_tag(cart_items_path, remote: true, class: 'form-horizontal form-groups-bordered')
      = token_tag(nil)
      .row
        .col-sm-12.padding-right
          .product-details
            / product-details
            .col-sm-5
              .view-product
                = image_tag @item.photo.url(:mini)
              .add-cart-price
                %label
                  Cena:
                %span.price
                  = render_price(@item)
            .col-sm-7
              .product-information
                %h4.cart-product-title
                  = @item.name
                %p
                  = @item.number
                %span
                  %span
                    = label_tag 'quantity', 'Ilość:'
                    = text_field_tag 'quantity', @quantity
                    = hidden_field_tag 'item_id', @item.id
                    = button_tag  class: 'btn btn-fefault cart' do
                      Dodaj
                      %i.fa.fa-shopping-cart
                %p
                  %b Numer:
                  = @item.number
                %p
                  %b Duże opakowanie:
                  = @item.big_wrap
                %p
                  %b Małe opakowanie:
                  = @item.small_wrap
                %p
                  %b EAN:
                  = @item.barcode
      .row
        %ul.errors
    .modal-footer
      %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Anuluj
