.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"}
          ×
      %h4.modal-title.title-orange
        Dodaj do koszyka
    .modal-body
      = form_for [@cart,@cart_item] , remote: true, :html => {class: 'form-horizontal form-groups-bordered' } do |f|
        .row
          .col-md-6
            %p.cart-product-title= @item.name
            %p.cart-product-data
              %span.cart-product-label
                Numer:
              = @item.number
            %p.cart-product-data
              %span.cart-product-label
                Pakowanie:
              = "#{@item.big_wrap}/#{@item.small_wrap}"
            %p.cart-product-price
              %span.cart-product-pricelabel
                Cena:
              = render_price(@item)
          .col-md-6
            = image_tag @item.photo.url(:mini)
        .row{style:'margin-top: 20px;'}
          %div{class: 'col-md-7 form-group' }
            = f.label :quantity, 'Ilość:', class: 'col-md-2 control-label'
            .col-md-4
              = f.text_field :quantity, class: 'col-md-3 form-control'
            .col-md-3
              = f.submit 'Dodaj', class: 'btn btn-success'
    .modal-footer
      %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Anuluj
