.product-image-wrapper
  .single-products
    .productinfo.text-center
      = image_tag item.photo.url(:mini)
      %h2
        = render_price item
      %p
        = item.name
      = link_to(cart_init_add_path(item_id: item.id), remote: true, class: 'btn btn-default add-to-cart') do
        Add to cart
        %i.fa.fa-shopping-cart
    .product-overlay
      .overlay-content
        %h2
          = render_price item
        %p
          = item.name
        = link_to(cart_init_add_path(item_id: item.id), remote: true, class: 'btn btn-default add-to-cart') do
          Add to cart
          %i.fa.fa-shopping-cart
  .choose
    %ul.nav.nav-pills.nav-justified
      %li
        %a{:href => ""}
          %i.fa.fa-plus-square>
          Add to wishlist
      %li
        %a{:href => ""}
          %i.fa.fa-plus-square>
          Add to compare