.header-middle
  / header-middle
  .container
    .row
      .col-sm-4
        .logo.pull-left
          = link_to image_tag("madej_logo.png"), root_path
        .btn-group.pull-right
          .btn-group
            %button.btn.btn-default.dropdown-toggle.usa{"data-toggle" => "dropdown", :type => "button"}
              Polska
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Polska

          .btn-group
            %button.btn.btn-default.dropdown-toggle.usa{"data-toggle" => "dropdown", :type => "button"}
              PLN
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} PLN
      .col-sm-8
        .shop-menu.pull-right
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"}
                %i.fa.fa-user
                Account
            %li
              %a{:href => "#"}
                %i.fa.fa-star
                Wishlist
            %li
              = link_to(orders_path) do
                %i.fa.fa-credit-card
                Moje zamówienia
            %li
              = link_to(new_order_path) do
                %i.fa.fa-shopping-cart
                Koszyk
                %span#cart-items-count.badge
                  = cart_size
            %li
              - if logged_in?
                = link_to(logout_path) do
                  %i.fa.fa-lock
                  Wyloguj
              - else
                = link_to(login_path) do
                  %i.fa.fa-lock
                  Logowanie
