#orders
  .table-responsive.cart_info
    %table.table.table-condensed
      %thead
        %tr.order_menu
          %td Produkt
          %td
          %td Pakowanie
          %td Cena
          %td Ilość
          %td Suma
          %td
      %tbody
        - @order_items.each do |order_item|
        - item = order_item.item
          %tr.order_body
            %td
              %a{:href => item.photo.url, class: 'fancy_photo'}
                = image_tag(item.photo.url(:mini), height:66, width:100)
                %i.fa.fa-search-plus
            %td
              = item.name
              %p
                = item.number
            %td
              %p
                = "#{item.big_wrap} / #{item.small_wrap}"
            %td
              %p= render_price(item)
            %td
              %p= order_item.quantity
            %td
              %p
                %span
                  = "#{order_item.total_price} zł"
= paginate @order_items