%h3 Klienci

%table#table-customers.table.table-bordered.datatable.table-striped
  %thead
    %tr
      %th Firma
      %th Kontrahent
      %th Odbiorca
      %th Login
      %th Email
      %th Akcje
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.contractor_sym
        %td= user.reciver_sym
        %td= user.login
        %td= user.email
        %td
          = link_to 'Edycja', edit_admin_user_path(user), :class => 'btn btn-xs btn-blue'