!!!
%html{:lang => "en"}
  = render :partial => 'layouts/frontend/amaze/head'
  %body
    .page
      / Header
      = render :partial => 'layouts/frontend/amaze/header'
      / End Top Cart
      / end header
      / Navbar
      = render :partial => 'layouts/frontend/amaze/navbar'
      / end nav
      / breadcrumbs
      -#= render :partial => 'layouts/frontend/amaze/breadcrumbs'
      / End breadcrumbs
      / Two columns content
      .main-container.col2-left-layout
        .main.container
          .row
            %section.col-sm-9.col-sm-push-3
              .col-main
                = yield
            = render :partial => 'layouts/frontend/amaze/left_sidebar'
      / End Two columns content
      / Footer
      = render :partial => 'layouts/frontend/amaze/footer'
    / End Footer
    / slider-email active
    / right-side-content hidden1
    / JavaScript
    = render :partial => 'layouts/frontend/amaze/bottom_scripts'