!!!
%html{:lang => "en"}
  = render :partial => 'layouts/frontend/amaze/head'
  %body
    .page
      / Header
      = render :partial => 'layouts/frontend/amaze/header'
      / End Top Cart
      / end header
      / Navbar
      = render :partial => 'layouts/frontend/amaze/navbar'
      / end nav
      / Slider
      = render :partial => 'layouts/frontend/amaze/root/slider'
      / end Slider
      / offer banner section
      = render :partial => 'layouts/frontend/amaze/root/last_add'
      / end banner section
      = render :partial => 'layouts/frontend/amaze/root/service_info'
      / main container
      = render :partial => 'layouts/frontend/amaze/root/main'
      / End Featured Slider
      / End main container
      / Footer
      = render :partial => 'layouts/frontend/amaze/footer'
    / End Footer
    / JavaScript
    = render :partial => 'layouts/frontend/amaze/bottom_scripts'