-# encoding: utf-8
!!!
%html{:lang => "en"}
  = render :partial => 'layouts/frontend/head'
  / /head
  %body
    = render :partial => 'layouts/frontend/header/header'
    / /header-bottom
    / /header
    = render :partial => 'layouts/frontend/slider'
    / /slider
    %section
      = render :partial => 'layouts/frontend/main_content'
    / /recommended_items
    = render :partial => 'layouts/frontend/footer'
    / /Footer
    = render :partial => 'layouts/frontend/bottom_scripts'